@model UserAccessSystem.Models.AppModels.UserViewModel

@{
    ViewBag.Title = "Edit user";
}

<h2>@ViewBag.Title</h2>
<div class="addUserFields">
    <div>
        @Html.Label("lbEditUser_Name", "Name")
        @Html.TextBoxFor(x => x.FirstName, new { id = "tbEditUser_Name", @class = "form-control", style = "width: 100%;" })
    </div>
    <div>
        @Html.Label("lbEditUser_LastName", "Last name")
        @Html.TextBoxFor(x => x.LastName, new { id = "tbEditUser_LastName", @class = "form-control" })
    </div>
    <div>
        @Html.Label("lbEditUser_LastSubscriptionDate", "Last subscription")
        @Html.TextBoxFor(x => x.LastSubscription, new { id = "dpEditUser_LastSubscriptionDate" })
    </div>
    <div>
        <button id="btnEditUser_Save" type="button" class="btn btn-primary" style="float: right" data-request-address="@Url.Action("UpdateUser", "User")">Edit</button>
    </div>
</div>

@* ReSharper disable once ConstructorCallNotUsed *@
<script type="text/javascript">
    $(document).ready(function () {
        var config = {
            ButtonSaveEditedUserIs: "btnEditUser_Save",
            FirstNameTextBoxId: "tbEditUser_Name",
            LastNameTextBoxId: "tbEditUser_LastName",
            LastSubscriptionDatePickerId: "dpEditUser_LastSubscriptionDate",
            PopupEditUserId: "popupEditUser",
            UserGridId: "grid-basic",
            Model_Id: '@Model.Id',
            Model_LastSubscriptioon: '@Model.LastSubscription'
        }

        var edit = new EditUser(config);
        edit.configEditUserPopup();
    });
</script>