@{
    ViewBag.Title = "Add user";
}

<div>
    @Html.Label("lbAddUser_Name", "Name")
    @Html.TextBox("tbAddUser_Name", "", new { @class = "form-control", style = "width: 100%;" })

    @Html.Label("lbAddUser_LastName", "Last name")
    @Html.TextBox("tbAddUser_LastName", "", new { @class = "form-control" })

    @Html.Label("lbAddUser_DateOfBirth", "Date of birth")
    @Html.Editor("dpAddUser_DateOfBirth")

    @Html.Label("lbAddUser_LastSubscriptionDate", "Last subscription")
    @Html.Editor("dpAddUser_LastSubscription")

    <button id="btnAddUser_Add" type="button" class="btn btn-default" style="float: right">Add</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dpAddUser_DateOfBirth").datepicker({
            dateFormat: 'dd/mm/yy'
        }).datepicker("setDate", new Date);

        $("#dpAddUser_LastSubscription").datepicker({
            dateFormat: 'dd/mm/yy'
        }).datepicker("setDate", new Date);
    });
    
    $("#btnAddUser_Add").click(function () {
        var input = {
            FirstName: $("#tbAddUser_Name").val(),
            LastName: $("#tbAddUser_LastName").val(),
            DateOfBirth: $("#dpAddUser_DateOfBirth").val(),
            LastSubscription: $("#dpAddUser_LastSubscription").val()
        }
        
        $.ajax({
            url: '@Url.Action("SaveUser", "User")',
            type: 'POST',
            dataType: 'json',
            conventType: "application/json; charset=utf-8",
            data: { p: JSON.stringify(input) },
            complete: function () {
                $("#popupAddUser").dialog("close");
                $("#grid-basic").bootgrid("reload");
            }
        });
    });
</script>