@{
    ViewBag.Title = "Add user";
}

<div class="addUserFields">
    <div>
        @Html.Label("lbAddUser_Name", "Name")
        @Html.TextBox("tbAddUser_Name", "", new { @class = "form-control", style = "width: 100%;" })
    </div>
    <div>
        @Html.Label("lbAddUser_LastName", "Last name")
        @Html.TextBox("tbAddUser_LastName", "", new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("lbAddUser_DateOfBirth", "Date of birth")
        @Html.Editor("dpAddUser_DateOfBirth")
    </div>
    <div>
        @Html.Label("lbAddUser_LastSubscriptionDate", "Last subscription")
        @Html.Editor("dpAddUser_LastSubscription")
    </div>
    <div>
        <button id="btnAddUser_Add" type="button" class="btn btn-primary" style="float: right" data-request-address="@Url.Action("SaveUser", "User")">Add</button>
    </div>
</div>

@* ReSharper disable once ConstructorCallNotUsed *@
<script type="text/javascript">
    $(document).ready(function () {
        var config = {
            ButtonAddUserId: "btnAddUser_Add",
            FirstNameTextBoxId: "tbAddUser_Name",
            LastNameTextBoxId: "tbAddUser_LastName",
            DateOfBirthDatePickerId: "dpAddUser_DateOfBirth",
            LastSubscriptionDatePickerId: "dpAddUser_LastSubscription",
            PopupAddUserId: "popupAddUser",
            UserGridId: "grid-basic"
        }

        new AddUser(config);
    });
</script>