@model List<SelectListItem>

@{
    ViewBag.Title = "Add user";
}

<div>
    @Html.Label("lbAddUser_Name", "Name")
    @Html.TextBox("tbAddUser_Name", "", new { @class = "form-control", style="width: 100%;" })

    @Html.Label("lbAddUser_LastName", "Last name")
    @Html.TextBox("tbAddUser_LastName", "", new { @class = "form-control" })

    @Html.Label("lbAddUser_IsAdministrator", "Administrator")
    @Html.DropDownList("ddAddUser_IsAdministrator", Model, new { @class = "form-control" })

    @Html.Label("lbAddUser_LastSubscriptionDate", "Last subscription")
    @Html.Editor("dpAddUser_LastSubscription")

    <button id="btnAddUser_Add" type="button" class="btn btn-default" style="float: right">Add</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dpAddUser_LastSubscription").datepicker({
            dateFormat: 'dd/mm/yy'
        }).datepicker("setDate", new Date);
    });
</script>